<header class="header">
  <img class="avatar" src="<%= @current_user.avatar_url %>">
  <h1 class="header-title">Home</h1>
</header>

<div class="body">
  <%= for post <- @posts do %>
    <%= live_component @socket, PostComponent, post: post, current_user: @current_user %>
  <% end %>
</div>

<footer class="footer">
  <div class="footer-items">
    <%= live_redirect to: Routes.timeline_path(@socket, :index) do %>
      <%= SVGHelpers.home_svg() %>
    <% end %>
  </div>
</footer>
